SYSARMOR_KAFKA_BROKERS=kafka:9092
SYSARMOR_KAFKA_METRICS_TOPIC=sysarmor.data.detection.metrics.v1
SYSARMOR_FLINK_CHECKPOINT_URI=s3p://sysarmor-flink/checkpoints
SYSARMOR_FLINK_PARALLELISM=1
AWS_ACCESS_KEY_ID=sysarmor
AWS_SECRET_ACCESS_KEY=sysarmor-secret
AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT=http://rustfs:9000
FLINK_PROPERTIES=s3.endpoint: http://rustfs:9000\ns3.path.style.access: true\ns3.access-key: sysarmor\ns3.secret-key: sysarmor-secret\ntaskmanager.memory.process.size: 3072m\ntaskmanager.memory.flink.size: 2048m\ntaskmanager.memory.jvm-metaspace.size: 768m\ntaskmanager.memory.managed.size: 512m\ntaskmanager.numberOfTaskSlots: 8
