SYSARMOR_KAFKA_BROKERS=kafka:9092
SYSARMOR_FLINK_CHECKPOINT_URI=s3://sysarmor-flink/checkpoints
SYSARMOR_FLINK_PARALLELISM=1
AWS_ACCESS_KEY_ID=sysarmor
AWS_SECRET_ACCESS_KEY=sysarmor-secret
S3_ENDPOINT=http://minio:9000
